src/main/resources/calculateTax/SCCalculateQuoteSalesTaxService_Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.oracle.com/parameters"
            elementFormDefault="qualified" xmlns="http://schemas.oracle.com/parameters">
    <xsd:element name="errorparams">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errcode" type="xsd:string"/>
                <xsd:element name="errdesc" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>